


section{
    /* border: solid 1px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2rem 1rem 2rem 20%;
}
section a {
    text-decoration: none;
    font-weight: lighter;
    color: gray;
}
article{
    font-size: medium;
    line-height: 25px;
    text-align: justify;
    border-left: rgb(114, 60, 60) solid 5px;
    background-color: rgba(114, 60, 60,0.2);
    padding: 1rem;
    
}
article p {
    margin-right: 10px ;

}
article h3{
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    color:black;
    margin-left: 1rem;
}

img{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin-left: 10%;
    float: left;
    margin-right: 20px;
}
#clear{
    clear: left;
}
.title{
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 25px;
    color:brown;
    
}
.date{
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}

@media all and  (max-width:720px){
    section{
        margin: 2rem ;
    }

}