.whole{
    margin-top: 100px;
}
img{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 10%;
    float: left;
    margin-right: 20px;
}
.clear{
    clear: both;
}
section{
    position: relative;
    margin-left: 25%;
    display: flex;
    /* border-left: rgb(114, 60, 60) solid 5px; */
    text-align: justify;
    
}
section h3{
    padding-left: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-weight: bold;
}
.GPS{
    margin-top: 10px;
    width: 50%;
    height: 75%;
    float: left; 
}
.GPS h4{
    margin-bottom: 20px;
}
.clear{
    clear: left;
}
form{
    position: relative;
    top: 10px;
    font-size: 15px;
}
form *{
    display: flex;
    margin-bottom: 10px;
}

#country {
    display: inline;
}
#date{
    display: inline;
}
form button{
    position: relative;
    margin-bottom: 20px;
    width: 70px;
    height: 30px;
    border-radius: 10%;

}
form button:hover{
    color: rgba(114, 60, 60,0.2);
}

