
body {
    margin: 0;
    padding: 0;
}

nav {
  background: rgb(114, 60, 60);
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
a:hover {
  text-decoration: underline  gold;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a{
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
  background-color: rgb(192, 79, 79);
  border-radius: 4px;
}



    
   
footer {
display: flex;
flex-flow: row wrap;
padding: 50px;
color: #fff;
background-color:rgb(114, 60, 60);
}

footer > * {
flex:  1 100%;
}

h2 {
font-weight: 400;
font-size: 15px;
text-transform: uppercase;
}

footer ul {
list-style: none;
padding-left: 0;
}

footer li {
line-height: 2em;
}

footer a {
text-decoration: none;
}

.t-footer {
display: flex;
flex-flow: row wrap;
}

.t-footer > * {
flex: 1 50%;
margin-right: 1.25em;
}

.box a {
color: #999;
}

*.b-footer {
    display: grid;
    grid-template-columns: auto;
    color: #999;
    font-weight: 300;
    font-size: 15px;
 
}
.b-footer a{
    font-size: xx-large;
    padding:3rem;
    height: 5vh;
    color: #999;

}
footer img{
    border-radius: 0%;
    height: 60px;
    padding: 0%;
    margin: 0%;
    width: auto;
}
#apple{
    margin-left: 0px;
    height: 40px;
}
#has-border{
    border-right: dotted 2px white;
}

.box-block{
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
}
i{
    margin-right: 10px;
}
.icons{
    margin-left: 10px;
}

@media all and (max-width:900px ){

    .box-block{
        display: block;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
        padding: 20px;
    }
    #android{
        display: block;
        height: 45px;
    }
    #apple{
        height: 30px;
        padding: 8px;

    }
    #has-border{
        border-right: none;
    }
}

@media all and (max-width:490px ){

    

    nav ul{
        flex-direction: column;
    }
    nav li{
        text-align: center;
    }
    nav a{
        font-size: smaller;
        margin: 0;
        padding: 0;
    }
    

}




/* Tablet menu */
@media all and (min-width: 600px) {
    
    .box-block{
        display: block;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
        padding: 20px;
    }
    #android{
        display: block;
        height: 45px;
    }
    #apple{
        height: 30px;
        padding: 8px;

    }
    #has-border{
        border-right: none;
    }
    *.b-footer {
        grid-template-columns: auto;
    }
    .t-footer > * {
        flex: 1;
        }
        
        .features {
        flex-grow: 2;
        }
        
        .t-footer {
        flex: 2 0px;
        }
        .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    
  }
  
  
  

/* Desktop menu */
@media all and (min-width: 900px) {
    #has-border{
        border-right: dotted 2px white;
    }
    *.b-footer {
        grid-template-columns: 75% 25%;
    }
    .item {
      display: block;
      width: auto;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
    *.b-footer {
      display: grid;
      grid-template-columns: 75% 25%;
      color: #999;
      font-weight: 300;
      font-size: 15px;
   
  }
  }
   