body {
    margin: 0;
    padding: 0;
}

nav {
  background: rgb(114, 60, 60);
  padding: 2rem;
  margin-top: 20%;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
a:hover {
  text-decoration: underline  gold;
  color: gold;
}
